body{
    background: rgb(248, 248, 186);
}

div{
    border: 4px solid #ffffff;
    border-radius: 25px;
    margin: 5px;
    padding: 1%;
}

#title{
    width: 180px;
    text-align: center;

}

#figure{
    height: 20vh;
    width: 60%;
    margin: auto;
    text-align: center;
}

#figure ul li{
    display: inline;
    font-size: larger;
    position: relative;
}

#figure ul li a{
    text-decoration: none;
    color: blue;

}

#mainmenu ul li ul {
    display: none;
    position: absolute;
    margin-left: -20px;
}

ul{
    border: 2px solid black;
}

img{
    border: 2px solid red;
    height: 150px;
    width: auto;

}